## MY CADDY CONFIG ##
{
	http_port 80
}

{$DOMAIN} {
	redir https://blog.quitaxd.online
}

bw.{$DOMAIN} {
	reverse_proxy vaultwarden:80
}

fn.{$DOMAIN} {
	reverse_proxy flatnotes:8080
}

lr.{$DOMAIN} {
	reverse_proxy redlib:8080
}

fr.{$DOMAIN} {
	reverse_proxy freshrss:80
}
